  // colors
  $do: darkorange;
  $dc: darkcyan;
  $bl: #004e75; // blue lagoon

  // fonts
  @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
  $bar: 'Barlow';
  $osw: 'Oswald';

