<div class="container">
  <div class="child">
      <app-app-progress-bar *ngIf="loading"></app-app-progress-bar>
    <mat-card id="card" style="text-align: center">

      <mat-card-title> Ingresa tus credenciales </mat-card-title>
      <br />
      <mat-card-content>
        <form
          [formGroup]="form"
          (submit)="login()"
          class="custom-form"
          method="post"
        >
          <mat-form-field appearance="fill">
            <input
            formControlName="username"
            matInput
            placeholder="Usuario"
            />
          </mat-form-field
          ><br />

          <mat-form-field appearance="fill">
            <input
            formControlName="password"
            matInput
            placeholder="Contraseña"
            type="password"
            />
          </mat-form-field
          ><br />

          <button
          [disabled]="form.invalid"
          mat-raised-button color="primary">Entrar</button>
        </form>
      </mat-card-content>

    </mat-card>
  </div>
</div>
