<div
  class="d-md-flex flex-md-column justify-content-md-center align-items-md-center"
>
  <div class="m-5">
    <mat-card>
      <h1>CALCULAR FECHA</h1>

      <div *ngIf="!date">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Ingresa una fecha"
            (dateChange)="setDate($event.value)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
</div>
<div
  class="d-md-flex flex-md-column justify-content-md-center align-items-md-center h-25"
>
  <div *ngIf="date">
    <mat-form-field appearance="fill">
      <mat-label>Seleccione la unidad </mat-label>
      <mat-select
        [(ngModel)]="selectedUnity"
        (ngModelChange)="onUnitySelection(selectedUnity)"
      >
        <mat-option *ngFor="let s of select" [value]="s.value">
          {{ s.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedUnity">
    <form [formGroup]="form" (submit)="addDate()" class="custom-form">
      <mat-form-field appearance="fill">
        <mat-label>{{ message }} </mat-label>
        <input formControlName="unity" matInput /> </mat-form-field
      ><br />
      <button [disabled]="form.invalid" mat-stroked-button color="primary">
        Sumar
      </button>
    </form>
  </div>
  <h3>{{ date | date: "dd/MM/yyyy" }}</h3>
</div>
