

<div class="d-md-flex flex-md-column justify-content-md-center align-items-md-center h-25">
  <h1><span>I</span>ES SYSTEMS</h1>
  <p>Prueba técnica</p>
</div>

<!-- <div style="background-color: slateblue;" class="d-flex  flex-column bd-highlight mb-3">
  <div class="p-3 bd-highlight"></div>
  <div class="p-3 bd-highlight"></div>
  <div class="p-3 bd-highlight"></div>
  <div class="p-3 bd-highlight"></div>
  <div class="p-3 bd-highlight"></div>
</div> -->

<!-- <section class="h-100"> -->
  <!-- <div class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div style="background-color: salmon;" class="d-flex flex-column">
        <h1 class="text align-self-center p-2">item 1</h1>
        <h4 class="text align-self-center p-2">item 2</h4>
        <button class="btn btn-danger align-self-center p-2" type="button" name="button">item 3</button>
      </div>
    </div>
  </div> -->
<!-- </section> -->
