/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./assets/bootstrap/css/bootstrap.min.css";
body, html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue",
  sans-serif;
  background: #f7b16c;
}
.mat-toolbar {
  background: #f78719;
}
