form {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
      color: #ff884d;
  }

  .mat-form-field-ripple {
      background-color: #ff884d;
  }
  .mat-input-element {
      color: orangered;
  }

}
